@font-face {
    font-family: 'proximaNova';
    src: url('assets/fonts/proxima/proximaNovaThin.otf') format('opentype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'proximaNova';
    src: url('assets/fonts/proxima/proximaNovaRegular.otf') format('opentype');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'proximaNova';
    src: url('assets/fonts/proxima/proximaNovaSemibold.otf') format('opentype');
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'proximaNova';
    src: url('assets/fonts/proxima/proximaNovaBold.otf') format('opentype');
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'proximaNova';
    src: url('assets/fonts/proxima/proximaNovaExtrabold.otf') format('opentype');
    font-weight: 800;
  }
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  a {
    target: _blank;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'proximaNova', Helvetica, Arial, sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 p {
    color: #222222;
  }
  
  html,
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  
  button {
    background: none;
    border: none;
  }
  
  /* Profile sidebar */
  .profile-sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: visible;
    padding: 40px;
    background: white;
  }
  
  #sideBarButton {
    top: 12px;
    right: 24px;
    position: absolute;
    color: #222222;
    display: none;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    /* position: relative; */
    overflow: hidden;
  }
  
  .profile-picture img {
    height: 100%;
    width: auto;
    /* margin: 0 auto; */
    margin-left: -10%;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle h5 {
    font-weight: 700;
  }
  
  .profile-usertitle h6 {
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .profile-usertitle-name {
    color: #333;
    font-size: 20px;
    font-weight: 600;
  }
  
  .profile-usertitle-job {
    color: #666;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  
  .profile-intro {
    font-weight: 300;
    font-size: 14px;
  }
  
  .contactOnMobile {
    display: none;
    justify-content: space-around;
    margin-top: 80px;
    overflow: hidden;
  }
  
  .contactOnMobile img {
    width: 30px;
    height: 30px;
  }
  
  .contacts a i {
    margin-right: 30px;
  }
  
  .contacts {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    bottom: 40px;
    position: absolute;
  }
  
  .contacts a {
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    color: black;
    display: block;
    text-align: left;
  }
  
  .email::before {
    content: '';
    height: 15px;
    width: 15px;
    position: absolute;
    background: url(assets/email.svg);
  }
  
  .git-profile::before {
    content: '';
    height: 15px;
    width: 15px;
    position: absolute;
  
    background: url(assets/github.svg);
  }
  
  .linkedin-profile::before {
    content: '';
    height: 15px;
    width: 15px;
    position: absolute;
  
    background: url(assets/linkedin2.svg);
  }
  
  .content {
    margin-left: 300px;
    padding: 0 56px;
    background-color: #f2f2f2;
  }
  
  #sideBarOverlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
  }
  
  #sideBar {
    display: block;
    overflow: hidden;
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .topnav {
    display: none;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0px 18px;
  }
  
  .topnav a:hover:not(.active) {
    background-color: #ddd;
  }
  
  .topnav .icon {
    color: #222222;
  }
  
  h3#logo {
    font-size: 24px;
    font-weight: 800;
    line-height: 240%;
    margin: 0;
  }
  
  h3#logo span {
    color: orange;
  }
  
  .heading {
    padding: 0;
    overflow: hidden;
    padding-top: 64px;
  }
  
  .heading h1 {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
  }
  
  .heading h1 span {
    color: orange;
  }
  
  .content > .intro {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    width: 540px;
    box-sizing: border-box;
  }
  
  .grid {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 40px;
    box-sizing: border-box;
    margin-right: 0;
    height: 100%;
  }
  
  .row {
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .column {
    /* padding-top: 16px; */
    background-color: white;
    height: 100%;
    border-radius: 10px;
    color: black;
    transition: all 0.2s ease-out;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  
  .column:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.07);
  }
  
  .column img {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: black;
    border-radius: 10px 10px 0 0;
  }
  
  .column iframe {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }
  
  .text {
    padding: 16px;
  }
  
  .text > p {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0px;
  }
  
  .column h5 {
    font-weight: 700;
    margin-bottom: 0px;
  }
  
  @media screen and (max-width: 600px) {
    .topnav {
      display: flex;
    }
  
    #sideBar {
      display: block;
      padding: 0;
      overflow: hidden;
      position: fixed;
      width: auto;
      right: 100%;
      top: 0;
      left: 0;
      bottom: 0;
    }
  
    #sideBarButton {
      display: block;
    }
  
    .heading {
      text-align: center;
    }
  
    .heading h1 {
      font-size: 28px;
      font-weight: 600;
      border-bottom: solid 3px orange;
      display: inline-block;
      line-height: 200%;
    }
  
    .heading h1 span {
      color: #222222;
    }
  
    .intro {
      padding-top: 8px !important;
    }
  
    .profile-sidebar {
      display: none;
    }
  
    .contactOnMobile {
      display: flex;
    }
  
    .content {
      margin: 0;
      padding-right: 0;
      padding-left: 0;
    }
  
    .content > .intro {
      padding: 0px 40px 20px 40px;
      width: 100%;
      margin-bottom: 0px;
    }
  
    .grid {
      margin: 0 24px;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 24px;
    }
  
    .grid > * {
      min-width: 0;
    }
  
    .column img {
      width: 100%;
    }
  
    .column iframe {
      width: 100%;
    }
  
    .heading {
      padding-top: 40px;
    }
  
    .heading a {
      display: none;
    }
  
    .heading a.icon {
      float: right;
      display: block;
    }
  
    .contactOnMobile {
      bottom: 40px;
    }
  
    .contacts {
      display: none;
    }
  
    /* hide show menu */
  
    .topnav.responsive {
      position: relative;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  